<div class="w-screen bg-blue-700/90">
  <div class="container mt-24 mx-auto max-w-screen-lg">
    <section class="p-8 rounded-md text-white">
      <div class="flex flex-wrap items-center">
        <div class="mb-10 w-full shrink-0 grow-0 basis-auto md:mb-0 md:w-6/12 md:px-3 lg:px-6">
          <h2 class="mb-6 text-3xl font-bold">Nous contacter</h2>
          <p class="mb-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laudantium, modi accusantium ipsum corporis quia asperiores
            dolorem nisi corrupti eveniet dolores ad maiores repellendus enim
            autem omnis fugiat perspiciatis? Ad, veritatis.
          </p>
          <p class="mb-2">
            New York, 94126, United States
          </p>
          <p class="mb-2">
            + 01 234 567 89
          </p>
          <p class="mb-2">
            info@gmail.com
          </p>
          <p class="mb-2">
            &copy; 2023 PNUD. All Rights Reserved.
          </p>
        </div>

        <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:mb-0 md:w-6/12 md:px-3 lg:px-6">
          <form class="bg-blue-100/20 shadow-xl  p-6 rounded-md flex flex-col gap-5">
            <div class="flex flex-col gap-2">
              <label class="font-medium" for="exampleInput90">Noms</label>
              <input type="text" class="block outline-none w-full p-2 rounded-md bg-blue-50/20 shadow-2xl text-sm placeholder-text-sm placeholder:text-gray-50" id="exampleInput90" placeholder="Saisir le nom" />
            </div>
            <div class="flex flex-col gap-2">
              <label class="font-medium" for="exampleInput90">E-mail</label>
              <input type="text" class="block outline-none w-full p-2 rounded-md bg-blue-50/20 shadow-2xl text-sm placeholder-text-sm placeholder:text-gray-50" id="exampleInput80" placeholder="Saisir l'email" />

            </div>
            <div class="flex flex-col gap-3">
              <label class="font-medium" for="exampleInput90">Message</label>
              <textarea class="peer block min-h-[auto] w-full rounded border-0 bg-blue-50/20 outline-none p-4 h-[150px] placeholder:text-gray-50" id="exampleFormControlTextarea1" placeholder="Your message"></textarea>
            </div>

            <button type="button" class="bg-blue-800 text-white font-medium text-sm rounded-md px-6 py-2">
              Envoyez
            </button>
          </form>
        </div>

      </div>
    </section>
  </div>

</div>
