<div class="w-screen bg-blue-100 -mt-3 pt-16 lg:pt-0">
  <div class="mx-auto max-w-screen-lg p-8 h-screen flex flex-col gap-10 pt-10 lg:pt-0 items-center lg:justify-between lg:flex-row">
    <div class="text-center lg:w-2/4">
      <h2 class="font-bold text-lg text-center text-gray-800 lg:text-3xl lg:leading-10">
        Cartographie des solutions compatibles aux objectifs de Développement durables en RDC.
      </h2>
      <button class="bg-blue-700 rounded-md px-6 py-3 text-white font-semibold mt-6">
        Candidater
      </button>
    </div>
    <img src="/assets/imgs/sdg-img.png" alt="hero cover" class="h-[250px] lg:h-[350px]">
  </div>

</div>
