@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .active div:first-child {
        @apply rotate-45 translate-y-1.5
    }

    .active div:last-child {
        @apply -rotate-45 -translate-y-1
    }

    .marquee-10 {
        animation: marquee 10s infinite;
    }

    .fade-in-1 {
        animation: fadeIn 400ms ease-in;
    }

    .fade-in-2 {
        animation: fadeIn 500ms ease-in;
    }

    .fade-in-3 {
        animation: fadeIn 600ms ease-in;
    }

    .fade-in-4 {
        animation: fadeIn 700ms ease-in;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}