<div class="relative h-[10vh] w-screen text-gray-950">
  <div class="px-16 py-10 flex justify-between items-center bg-blue-100">
    <h1 class="text-xl font-extrabold">
      SDG.
    </h1>
    <ul class="hidden lg:flex flex-col items-center gap-3 lg:flex-row uppercase text-sm font-medium">
      <li><a href="">A propos</a></li>
      <li><a href="">Nous contacter</a></li>
      <li><a href="">Se connecter</a></li>
      <li><a href="">S'iscrire</a></li>
    </ul>
    <div class="flex flex-col gap-2 lg:hidden">
      <div class="h-[1px] w-6 bg-black"></div>
      <div class="h-[1px] w-6 bg-black"></div>
    </div>
  </div>

</div>
