<div class="p-8 mb-10">
  <div class="mx-auto max-w-screen-lg">
    <h2 class="text-2xl font-semibold mb-3">
      Les objectifs de développement durables.
    </h2>
    <p class="mb-8 md:w-1/2">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
    </p>

    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">

      <div class="relative">
        <div class="flex flex-col gap-2">
          <div class="rounded-md p-4 bg-blue-100">
            <h3 class="font-semibold mb-3 leading-6">1. Permettre à tous de vivre en bonne santé et promouvoir le bien-être de tous à tout âge</h3>
          </div>
        </div>
      </div>

      <div class="relative">
        <div class="flex flex-col gap-2">
          <div class="rounded-md p-4 bg-red-100">
            <h3 class="font-semibold mb-3 leading-6">2. Permettre à tous de vivre en bonne santé et promouvoir le bien-être de tous à tout âge</h3>
          </div>
        </div>
      </div>

      <div class="relative">
        <div class="flex flex-col gap-2">
          <div class="rounded-md p-4 bg-yellow-100">
            <h3 class="font-semibold mb-3 leading-6">3. Permettre à tous de vivre en bonne santé et promouvoir le bien-être de tous à tout âge</h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
